{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Social media monitor for crisis</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <link rel="shortcut icon" href="../static/assets/images/favicon.ico">
        <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="../static/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
        <link href="../static/assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="../static/assets/css/style.css" rel="stylesheet" type="text/css">
		<style type="text/css">
			#allmap{width:100%;height:100%;position:absolute;right:0px;}
			#weibo{width:30%;height:50%;position:absolute;right:10px;top:100px;overflow-y:auto; overflow-x:auto;}
		</style>
        <script src="https://cdn.jsdelivr.net/gh/liuhuijiayou/resourse/echarts.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/liuhuijiayou/resourse/china.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/liuhuijiayou/resourse/jquery-3.2.1.js"></script>
    </head>

    <body>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="index.html" class="logo">
                        <span>
                            <img src="../static/assets/images/logo.png" alt="" height="24">
                        </span>
                        <i>
                            <img src="../static/assets/images/logo-sm.png" alt="" height="22">
                        </i>
                    </a>
                </div>

                 <nav class="navbar-custom">

                    <ul class="navbar-right d-flex list-inline float-right mb-0">
                        <li class="dropdown notification-list d-none d-sm-block">
                            <form role="search" class="app-search">
                                <div class="form-group mb-0"> 
                                    <input type="text" class="form-control" placeholder="Search..">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </form> 
                        </li>

                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="mdi mdi-bell noti-icon"></i>
                                <span class="badge badge-pill badge-info noti-icon-badge">3</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
                                <!-- item-->
                                <h6 class="dropdown-item-text">
                                    Notifications
                                </h6>
                                <!-- All-->
                                <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                                    View all <i class="fi-arrow-right"></i>
                                </a>
                            </div>        
                        </li>
                        <li class="dropdown notification-list">
                            <div class="dropdown notification-list nav-pro-img">
                                <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <img src="../static/assets/images/users/user-4.jpg" alt="user" class="rounded-circle">
                                </a>                                                                   
                            </div>
                        </li>

                    </ul>

                    <ul class="list-inline menu-left mb-0">
                        <li class="float-left">
                            <button class="button-menu-mobile open-left waves-effect waves-light">
                                <i class="mdi mdi-menu"></i>
                            </button>
                        </li>                        
                    </ul>

                </nav>

            </div>
            <!-- Top Bar End -->

          <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="slimscroll-menu" id="remove-scroll">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu" id="side-menu">
                            <li class="menu-title">Main</li>
                            <li>
                                <a href="home" class="waves-effect">
                                    <i class="mdi mdi-home"></i><span class="badge badge-primary float-right">3</span> <span> Dashboard </span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-email"></i><span> 历史文本 <span class="float-right menu-arrow"><i class="mdi mdi-plus"></i></span> </span></a>
                                <ul class="submenu">
                                    <li><a href="history?type=0&relevant=0">微博</a></li>
                                    <li><a href="history1?type=0&relevant=0">新浪新闻</a></li>
{#									<li><a href="history2?type=0">疫情</a></li>#}
                                </ul>
                            </li>

                            <li>
                                <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-google-maps"></i><span> 地图标注 <span class="float-right menu-arrow"><i class="mdi mdi-plus"></i></span></span></a>
                                <ul class="submenu">
                                    <li><a href="map_">地震</a></li>
									<li><a href="map_2">台风</a></li>
									<li><a href="map_3">暴雨</a></li>
                                </ul>
                            </li>

							<li>
                                <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-finance"></i><span> 统计特征 <span class="float-right menu-arrow"><i class="mdi mdi-plus"></i></span> </span></a>
                                <ul class="submenu">
                                    <li><a href="statistical">自然灾害</a></li>
{#                                    <li><a href="statistical2">疫情</a></li>#}
                                </ul>
                            </li>
                        </ul>

                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div id="allmap"></div>
				<div id="weibo"></div>
            </div>
        </div>


		<script language='javascript'>
			// 基于准备好的dom，初始化echarts实例
            var mapBoxEchart = echarts.init(document.getElementById('allmap'));
            // 指定相关的配置项和数据
            var mapBoxOption = {
                series: [{
                    type: 'map',
                    mapType: 'china',
                    label: {
                        normal: {
                            show: true, //显示省份标签
                            textStyle: {
                                color: "blue"
                            } //省份标签字体颜色
                        },
                        emphasis: { //对应的鼠标悬浮效果
                            show: true,
                            textStyle: {
                                color: "#800080"
                            }
                        }
                    },
                    aspectScale: 0.75,//这个参数用于 scale 地图的长宽比。最终的 aspect 的计算方式是：geoBoundingRect.width / geoBoundingRect.height * aspectScale
                    zoom: 1.0,//当前视角的缩放比例。
                    itemStyle: {
                        normal: {
                            borderWidth: .5, //区域边框宽度
                            borderColor: '#009fe8', //区域边框颜色
                            areaColor: "#ffefd5", //区域颜色
                        },
                        emphasis: {//鼠标滑过地图高亮的相关设置
                            borderWidth: .5,
                            borderColor: '#4b0082',
                            areaColor: "#ffdead",
                        }
                    },
                    data: [
                        {
                        name: '北京',
                        value: 0
                        }, {
                        name: '天津',
                        value: 0
                        }, {
                        name: '上海',
                        value: 0
                        }, {
                        name: '重庆',
                        value: 0
                        }, {
                        name: '河北',
                        value: 0
                        }, {
                        name: '河南',
                        value: 0
                        }, {
                        name: '云南',
                        value: 0
                        }, {
                        name: '辽宁',
                        value: 0
                        }, {
                        name: '黑龙江',
                        value: 0
                        }, {
                        name: '湖南',
                        value: 0
                        }, {
                        name: '安徽',
                        value: 0
                        }, {
                        name: '山东',
                        value: 0
                        }, {
                        name: '新疆',
                        value: 0
                        }, {
                        name: '江苏',
                        value: 0
                        }, {
                        name: '浙江',
                        value: 0
                        }, {
                        name: '江西',
                        value: 0
                        }, {
                        name: '湖北',
                        value: 0
                        }, {
                        name: '广西',
                        value: 0
                        }, {
                        name: '甘肃',
                        value: 0
                        }, {
                        name: '山西',
                        value: 0
                        }, {
                        name: '内蒙古',
                        value: 0
                        }, {
                        name: '陕西',
                        value: 0
                        }, {
                        name: '吉林',
                        value: 0
                        }, {
                        name: '福建',
                        value: 0
                        }, {
                        name: '贵州',
                        value: 0
                        }, {
                        name: '广东',
                        value: 0
                        }, {
                        name: '青海',
                        value: 0
                        }, {
                        name: '西藏',
                        value: 0
                        }, {
                        name: '四川',
                        value: 0
                        }, {
                        name: '宁夏',
                        value: 0
                        }, {
                        name: '海南',
                        value: 0
                        }, {
                        name: '台湾',
                        value: 0
                        }, {
                        name: '香港',
                        value: 0
                        }, {
                        name: '澳门',
                        value: 0}
                    ]
                }]
            };
            // 使用制定的配置项和数据显示图表
            mapBoxEchart.setOption(mapBoxOption);
            // echart图表自适应
            window.addEventListener("resize", function() {
                mapBoxEchart.resize();
            });
            mapBoxEchart.on('click', function (params) {
                var city = params.name;
                $.ajax({
                    url:"{% url 'natural_disasters:map_3_collect'%}",
                    type:"post",
                    // 3.发送的数据到底是什么
                    data:{"province":city},
                    // 4.异步提交的任务需要通过回调函数来处理
                    success:function(data){
                        res = JSON.parse(data);
                        var weibo = document.getElementById("weibo");
                        weibo.style.background="#FFFFFF";
                        weibo.innerHTML='<div class="card"><ul class="message-list">';
                        for(var i=0;i<res.length;i++){
                            var task_id = String(res[i].task_id);
                            var cluster = String(res[i].clus);
                            var province = String(res[i].province);
                            if(province=="null"){
                                province = "";
                            }
                            var city = String(res[i].city);
                            if(city=="null"){
                                city = "";
                            }
                            var area = String(res[i].area);
                            if(area=="null"){
                                area = "";
                            }
                            var time = String(res[i].time);
                            var event = String(res[i].event);
                            weibo.innerHTML=weibo.innerHTML+"<li id='"+String(i)+"'><div class='col-mail col-mail-1'><div class='date'>时间："+String(time)+"</div><div class='date'>地点："+String(province)+String(city)+String(area)+"</div><a href='detail_all?task_id="+String(task_id)+"&province="+String(province)+"&cluster="+String(cluster)+"' class='title'>灾害事件:"+String(event)+'</a></div><div class="col-mail col-mail-2"></div></li>';
							weibo.innerHTML=weibo.innerHTML+"<div style='min-height:20px;'></div>";
                        }
                        t.innerHTML=t.innerHTML+'</ul></div></div></div>';
                    }
                })
            });


		</script>
				

        <!-- jQuery  -->
        <script src="../static/assets/js/jquery.min.js"></script>
        <script src="../static/assets/js/bootstrap.bundle.min.js"></script>
        <script src="../static/assets/js/metisMenu.min.js"></script>
        <script src="../static/assets/js/jquery.slimscroll.js"></script>
        <script src="../static/assets/js/waves.min.js"></script>

        <script src="../static/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

        <!-- App js -->
        <script src="../static/assets/js/app.js"></script>


    </body>

</html>